<h1>Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead table-dark">
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre2 }}</td>
          <td>capitalizado</td>
          <td>{{ nombre2 | capitalizado:true }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>UpperCase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>LowerCase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3:10</td>
          <td>{{ nombre | slice:3:10 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:3</td>
          <td>{{ arreglo | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:3:6</td>
          <td>{{ arreglo | slice:3:6 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-4'</td>
          <td>{{ PI | number:'3.0-4' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'0.0-4'</td>
          <td>{{ PI | number:'0.0-4' }}</td>
        </tr>
        <tr>
          <td>{{ decimal }}</td>
          <td>percent</td>
          <td>{{ decimal | percent }}</td>
        </tr>
        <tr>
          <td>{{ decimal }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ decimal | percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salario | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>currency:'EUR':'symbol-narrow':'.2-2'</td>
          <td>{{ salario | currency:'CAD$ ':'symbol-narrow':'.2-4' }}</td>
        </tr>
        <tr>
          <td>{{ promesa }}</td>
          <td>async</td>
          <td>{{ promesa | async }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - dd'</td>
          <td>{{ fecha | date:'MMMM - dd' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>date:'MMMM - dd':'':'en'</td>
          <td>{{ fecha | date:'MMMM - dd':'':'en' }}</td>
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>
            date:'MMMM - dd':'':'idioma'
            <br>
            <button class="btn btn-primary m-2" (click)="idioma='es'">Español</button>
            <button class="btn btn-secondary m-2" (click)="idioma='fr'">Frances</button>
            <button class="btn btn-warning m-2" (click)="idioma='en'">Ingles</button>
          </td>
          <td>{{ fecha | date:'MMMM - dd':'':idioma }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>
            nombre: {{activar}}
            <br>
            <button class="btn btn-outline-primary m-2" (click)="activar = !activar">Activar/Desactivar</button>
          </td>
          <td>{{ nombre | ocultar:activar }}</td>
        </tr>
      </tbody>
    </table>

    <h4>Slice</h4>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let arre of arreglo | slice:3:8">{{ arre }}</li>
    </ul>

    <h4 class="mt-4">JSON</h4>
    <hr>
    <div class="row">
      <div class="col">
        <pre>
          {{ heroe | json }}
        </pre>
      </div>
    </div>

    <h4>KeyValue</h4>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let pers of persona | keyvalue">{{ pers | json }}</li>
      <hr>
      <li class="list-group-item" *ngFor="let pers of persona | keyvalue">{{ pers.key | titlecase }}: {{ pers.value }}</li>
    </ul>

    <h4 class="mt-4">DomSeguro</h4>
    <hr>
    <div class="row">
      <div class="col">
        <iframe
          width="560"
          height="315"
          [src]="urlSegura | domseguro"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>
</div>
